@page
@model IECEMembresia.Pages.Sector.IndexModel
@{
    ViewData["Title"] = "Index";
}

<partial name="_Sidebar" />
<partial name="_Topbar" />

<h1>Seccion de datos del sector</h1>

<partial name="_Footer" />

